<a href="https://colab.research.google.com/github/anshatwork-007/Basics-of-Python/blob/main/Practical_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name: Ansh Yadav
# PRN: 25070123016
# Batch: ENTC-A 2025-29
# EDA using Python
## Experiment-1
### Python basics

In [ ]:
# First program
print("I am Learning Python")

I am Learning Python

In [ ]:
print('I am student at Symbiosis')

I am student at Symbiosis

In [1]:
# First Python program/ String
print("Hello World")

Hello World

In [2]:
a = "Hello"
print(a)

Hello

In [3]:
# comments
#this is a comment
print("Hello World")

Hello World

In [4]:
# Many Statements
print("Hello World")
print("Have a good day")
print("Learning pythoin is fun!")

Hello World
Have a good day
Learning pythoin is fun!

In [9]:
print("My first name is Ansh");print("second name is Yadav");print("I am a student at Symbiosis");

My first name is Ansh
second name is Yadav
I am a student at Symbiosis

In [13]:
print("Hello world!", end=" ")
print("I wil print on the same line")

Hello world! I wil print on the same line

In [15]:
# print number
print(3)
print(354)
print(6769)

# or
a = 3
b = 354
c = 6769
print(a)
print(b)
print(c)

3
354
6769
3
354
6769

In [18]:
# variables
x =5
y = "Hello world!"
print(x)
print(y)

5
Hello world!

In [19]:
# Case sensitivity
a = 4
A = "sally"

print(a)
print(A)

4
sally

In [20]:
# Many valus to multi[le Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [21]:
a = 7
b = 8

In [23]:
print("Subtraction =", a - b)
print("Addition =", a + b)
print("Multiplication =", a * b)
print("Division =", a / b)

Subtraction = -1
Addition = 15
Multiplication = 56
Division = 0.875

In [41]:
# Understanding Data Types
x = 10
y = 3.14
z = "python"
flag = True
C = 3 + 4j

print(type(x))
print(type(y))
print(type(z))
print(type(flag))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [27]:
# taking Input from User
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Ansh
Hello Ansh

In [29]:
# Simple Calculator from user
print("Enter 2 numbers:")
x = int(input(" "))
y = int(input(" "))

print("Addition =", x + y)
print("Subtraction =", x - y)
print("Multiplication =", x * y)
print("Division =", x / y)

Enter 2 numbers:
 3
 4
Addition = 7
Subtraction = -1
Multiplication = 12
Division = 0.75

In [34]:
# enter marks of subjects
print("Enter marks of 5 subjects:")
a = int(input(" "))
b = int(input(" "))
c = int(input(" "))
d = int(input(" "))
e = int(input(" "))
Totalmarks = a + b + c + d + e
print("Addition =",Totalmarks)
print("Average =",Totalmarks/5 )

Enter marks of 5 subjects:
 91
 92
 67
 69
 93
Addition = 412
Average = 82.4

In [35]:
# Areaof rectangle
print("enter length and breadth of rectangle respectively")
L = int(input(" "))
B = int(input(" "))
Area = L*B
print("Area of rectangle =",Area)

enter length and breadth of rectangle respectively
 45
 63
Area of rectangle = 2835

In [36]:
# Area of circle
print("enter radius of circle")
r = int(input(" "))
Area = 3.14*r*r
print("Area of circle =",Area)

enter radius of circle
 5
Area of circle = 78.5

In [37]:
# Exponent
z = 3 ** 3
print(z)

27

In [40]:
# Touple joining
A = (3,4,5)+(6,7,8)
print(A)

(3, 4, 5, 6, 7, 8)